.popup {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  /* display: none; */
}

.popup_opened {
  display: flex;
}
