.profile__edit-button {
  height: 24px;
  min-width: 24px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin-left: 18px;
  margin-top: 33px;
  padding: 0;
  cursor: pointer;
  background-image: url(../../../images/edit_button.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.3s linear;
}
.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 658px) {
  .profile__edit-button {
    margin: 5px 10px 0;
    height: 18px;
    min-width: 18px;
    background-size: 7.5px;
  }
}
