.header {
  max-width: 880px;
  padding: 0 0 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 906px) {
  .header {
    max-width: 680px;
  }
}

@media screen and (max-width: 658px) {
  .header {
    max-width: 320px;
    padding-bottom: 30.6px;
  }
}
