.popup__form {
  background-color: #fff;
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

@media screen and (max-width: 658px) {
  .popup__form {
    width: 282px;
    height: 322px;
  }
}