.profile__add-button {
  height: 50px;
  width: 150px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  background-color: Transparent;
  padding: 0;
  align-self: center;
  cursor: pointer;
  background-image: url(../../../images/add_button.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.3s linear;
}
.profile__add-button:hover {
  opacity: 0.3;
}

@media screen and (max-width: 658px) {
  .profile__add-button {
    width: 282px;

  }
}