.profile__name {
  color: #FFF;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

@media screen and (max-width: 906px) {
  .profile__name {
    font-size: 32px;
    line-height: 38px;
    max-width: 300px;
  }
}

@media screen and (max-width: 658px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 14px;
    max-width: 220px;
  }
}