.card__delete {
  background-image: url(../../../images/delete_button.svg);
  background-repeat: no-repeat;
  width: 19px;
  height: 18px;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  align-self: center;
  cursor: pointer;
  transition: opacity 0.3s linear;
  position: absolute;
  right: 15px;
  top: 18px;
}
.card__delete:hover {
  opacity: 0.3;
}